<% question_group_id = params[:group] %>

<div class="container">
  <%=  form_with model: [@survey, @question_group, @question] do |form| %>
    <p><%= form.text_area :questiontype, class: 'form-text-area' %></p>
    <p class="mt"><%= form.submit 'Create', class: 'button button-main' %></p>
  <% end %>

  <p class="mt"><%= link_to "back", survey_question_group_path(@survey, @question_group) %></p>
</div>