<%=  form_with model: @questiongroup do |form| %>
  <p><%= form.text_area :label %></p>
  <p><%= form.submit 'Сохранить' %></p>
<% end %>

<p><%= link_to "назад", "/surveys/#{@questiongroup[:survey_id]}" %></p>